.div-box {
    border: 5px outset red;
    background-color: lightblue;
    text-align: center;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.list{
    background-color: lightblue;
    font-weight: bold;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button{
    background-color: rgb(202, 119, 9);
    padding: 15px 32px;
    border-radius: 50%;
    text-align: center;
    border-style:dashed;
    cursor: pointer;
    margin: 15px;
    color: white;
}

.button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}